body {
    background-color:snow;
    background-size: 100%;
    font-family: Cambria;
}

.container {
    padding-left: 8%;
    padding-right: 8%;

}

.titulo {
    color:white;
    background-color:darkorange;
    text-align: center;
    border-style: groove;
    border-radius: 10px;
}

.sub {
    color:rgb(63, 63, 63);
}

.img-brigadeiro {
    width: 230px;
    border-style: groove;
    border-radius: 20px;
    margin-bottom: 20px;
    border-color: darkorange;
}

.card {
    padding: 15px;
    border-style: groove;
    border-radius: 10px;
    margin-bottom: 20px;
    border-color: darkorange;
}

li {
    color:rgb(63, 63, 63)
}

.card1 {
    padding: 15px;
    border-style: groove;
    border-radius: 10px;
    margin-bottom: 20px;
    border-color: darkorange;
}

.info {
    padding: 15px;
    border-style: groove;
    border-radius: 10px;
    margin-bottom: 20px;
    border-color: darkorange;
}

.voltar {
    background-color:darkorange;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-style:groove;
}


