body {
    background-color:snow;
    background-size: 100%;
    font-family: Cambria;
}

.container {
    padding-left: 8%;
    padding-right: 8%;
}

.titulo {
    color:white;
    background-color:darkorange;
    text-align: center;
    border-style: groove;
    border-radius: 10px;
}

.img-logo {
    width: 230px;
}

.text-center {
    text-align: center;
}

.subtitulo {
    text-align: center;
    font-size: large;
}

.redirecionar {
    color:rgb(63, 63, 63);
    text-align: center;
}

.card {
    background-color:darkorange;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-style:groove;
}

li {
    color: white;
    font-size: 20px;
}

.card-a {
    font-size: medium;
    background-color: darkorange;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border-style:groove; 
}